@use "../../../../asset/style/" as *;

.company-profile {
    width: 70%;
    margin: 40px auto;

    &__header {
        p {
            margin-bottom: 15px;
        }
    }

    &__main {
        &--header {
            margin-bottom: 25px;
            &-avatar {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    padding: 2px;
                    width: 80px;
                    height: 80px;
                    border-radius: 5px;
                    border: 2px dashed $primary-color; 
                }
                
                h1 {
                    margin-bottom: 0px;
                }
                
            }

            &-action {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;
            }
        }

        &--info {
            padding: 25px 0px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            &-text {
                display: flex;
                align-items: center; 
                gap: 15px;
            }
        }
        
    }

    
    
}
