@import '../Helper/variables';
* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
    font-family: $f-family-0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	font-size: 13px;
	margin-left: 30px;

	li {
		padding: 5px 0px;
	}
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
	:hover {
		color: inherit;
	}
}