@use "../../../../asset/style/" as *;

.for-candidate {
    margin: 50px auto;
    padding: 10px;
    background-color: #1f57c3;
    max-height: 600px;
    border-radius: 10px;
    width: 70%;

    &__left {
       // background-color:#13544e;
       border-radius: 10px;
       height: fit-content;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0px 20px 0px 0px;

       img {
           border-radius: 8px;
           height: 550px;
       }

    }

    .MuiDivider-root {
        border-color: rgb(244 238 238 / 96%) !important
    }

    &__right {
        padding: 40px 0px;
        h3 {
            color: #fff;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 500;
        }
        h1 {
            width: 70%;
            font-size: 58px;
            line-height: 55px;
            letter-spacing: 1.5px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
            font-family: $f-family;
        }

        p {
            width: 95%;
            margin-bottom: 20px;
            letter-spacing: .5px;
            line-height: 17px;
            font-size: 15px;
            color: #fff;
            font-family: $f-family-0;
        }

        
        
        &--bottom {
            margin-top: 30px;

            p {
                margin-bottom: 20px;
                letter-spacing: .5px;
                line-height: 17px;
                font-size: 15px;
                color: #fff;
                font-family: $f-family-0;
            }
        }

    }
}