@use "../../asset/style/" as *;

footer {
  width: 100%;
  background: #000;
}

.footer {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  margin-top: 40px;
  padding: 60px 0;
  // text-align: center;  
  &-col {
    width: 100%;
    padding: 20px 0px;

    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 16px;
      color: #fff;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      li {
        font-style: 13px;
        color: #fff;
        text-align: left;
        a {
          font-size: 14px;
          color: #fff;
          &:hover {
            color: $color-text;
          }
        }
      }
    }
  }

  &-logo {
    width: fit-content;
    background-color: #fff;
    padding: 0;
    border-radius: 16px;
    margin-bottom: 24px;

    img{
      width: 120px !important;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &-col {
      align-items: center;

      ul {
        align-items: center;
      }
    }
  }
}
