@use "../../../asset/style/" as *;

.custom-card {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    // box-shadow: $admin-box-shadow;
    background-color: #ffffff;
    border: 1px solid #d5e0d5;
    font-family: $f-family-0;
    cursor: pointer;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 8px;
        }

        &-title {
            display: flex;
            flex-direction: column;
            gap: 8px;

            span {
                margin-left: 20px;
                font-family: $f-family-0;
                padding: 5px 13px;
                color: #fff;
                background-color: #1f57c3;
                border-radius: 8px;
                font-size: 13px;
                font-weight: 400;
            }

            h2 {
                font-family: $f-family-0 !important;
                font-size: 18px;
                font-weight: 600;
            }

            p {
                font-family: $f-family-0;
                font-size: 14px;
                color: #001e00;
            }
        }
    }

    &__main {
        margin-top: 15px;

        display: -webkit-box;
            max-width: 100%;
            height: 41px;
            margin: 0 auto;
            font-size: 13px !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $f-family-0;
            color: #001e00;
            line-height: 20px;
            letter-spacing: .3px;

    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        gap: 20px;

        button {
            padding: 8px 12px;
            border-radius: 15px;
            font-family: $f-family-0;
            font-size: 15px;
            color: #fff;
            background-color: #14a800;
            cursor: pointer;
        }
        
    } 

    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        svg {
            color: #13544e;
        }

        p {
            font-family: $f-family-0;
            font-size: 12px !important;
            color: $text-color-1;
        }

        &--address {
            display: flex;
            align-items: center;
            gap: 5px;


            
        }

        &--type {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &--date {
            display: flex;
            align-items: center;
            gap: 5px;

        }
    }
}

.like {
    color: red

}