@use ".././../../../asset/style/" as *;

.job-table__hyperlink {
  color: #000;

  &:hover {
    color: $color-blue;
  }
}

.job-table__select {
  padding: 7px 5px;
  border: 1px solid $primary-color;
  border-radius: 3px;
  &:focus {
    border: 2px solid $primary-color;
  }
}

.job-edit__button{
  color: $admin-primary-color !important
}

.job-delete__button{
  color: rgb(243, 84, 84) !important
}