@use "../../../../asset/style/" as *;

.search-container {
    margin: 0px !important;
    width: 100%;
    padding-bottom: 20px;
    &__search {
        display:flex;
        align-items:center;
        height: 100%;
        width: 100%;

        input {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
        }
    }
}