@use "../../../../asset/style/" as *;

.for-enterprise {
    margin: 50px auto;
    padding: 15px;
    background-color: #a18085;
    max-height: 600px;
    border-radius: 10px;
    width: 70%;

    &__left {
        padding: 40px 10px;
        h3 {
            color: #fff;
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: 500;
        }
        h1 {
            font-size: 50px;
            line-height: 55px;
            letter-spacing: 1px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
            font-family: $f-family;
        }

        p {
            margin-bottom: 20px;
            letter-spacing: .5px;
            line-height: 17px;
            font-size: 15px;
            color: #fff;
            font-family: $f-family-0;
        }

        
        

    }

    .MuiDivider-root {
        border-color: rgb(244 238 238 / 96%) !important
    }

    &__right {
        // background-color:#13544e;
        border-radius: 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;

        img {
            border-radius: 8px;
            height: 550px;
        }

    }
}