.reset-password {
    margin: 50px auto;
    min-width: 480px;
    max-width: 60%;
    height: fit-content;
    background-color: #fff;
    padding: 60px;
    border-radius: 16px;
    text-align: center;
    border: 1px solid #d5e0d5;
}