@use "../../asset/style/" as *;

.custom-modal {
  min-width: 350px;
  max-width: 95%;
  background-color: #fff;
  border-radius: 6px;
  width: max-content;
  max-width: 900px;
  min-height: 30vh;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

@media (max-width: 800px) {
  .custom-modal {
    min-width: 90%;
  }
}
