@use ".././../../../asset/style/" as *;

.company-table__hyperlink {
    color: #000;
  
    &:hover {
      color: $color-blue;
    }
  }
  
  .company-table__select {
    padding: 7px 5px;
    border: 1px solid $primary-color;
    border-radius: 3px;
    &:focus {
      border: 2px solid $primary-color;
    }
  }

  .company-edit__button{
    color: $admin-primary-color !important
  }

  .company-delete__button{
    color: rgb(243, 84, 84) !important
  }


  .btn-active {
    padding: 5px 8px;
    border-radius: 6px;
    font-family: $f-family-0;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: #229a16;
    background-color: #54d62c29;
  }

  .btn-disable {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: 600;
    color: #fda92d;
    background-color: #fda92d14;
    font-family: $f-family-0;
    font-size: 12px;
  }

  .btn-pending {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: 600;
    color: #7635dc;
    background-color: #7635dc14;
    font-family: $f-family-0;
    font-size: 12px;
  }

  .btn-deleted {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: 600;
    color: #b72136;
    background-color: #ff484229;
    font-family: $f-family-0;
    font-size: 12px;
  }

  .company-select {
    margin: 5px 15px;
    border-radius: 8px;
    background-color: $admin-primary-color;
    color: #fff;
    padding: 20px 15px;
    height: 24px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    box-shadow: $admin-box-shadow;
    p {
      font-size: 13px;
      font-weight: bold;
      font-family: $f-family-0;
      letter-spacing: 0.3px;
    }
  }