@use "../../../../asset/style/" as *;

.banner {
    margin: 30px 0px;
    padding: 15px;
    background-color: #f2f7f2;
    border-radius: 10px;

    &__left {
        padding-bottom: 10px;
        h1 {
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 1px;
            width: 80%;
            font-weight: 600;
            color: #14a800;
            margin-bottom: 20px;
            font-family: $f-family;
        }

        p {
            margin-bottom: 20px;
            letter-spacing: .5px;
            line-height: 15px;
            font-size: 13px;
            color: #001e00;
            font-family: $f-family-0;
        }

        a {
            font-weight: 600;
            font-size: 14px;
            color: #1f57c3;
            font-family: $f-family-0;
            &:hover {
                text-decoration: underline
            }
        }
    }

    &__right {
        padding: 15px;
        background-color:#13544e;
        border-radius: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 40px;
            line-height: 45px;
            letter-spacing: 1px;
            font-weight: 600;
            color: #fff;
            font-family: $f-family;
        }

        p {
            margin-bottom: 20px;
            letter-spacing: .2px;
            line-height: 15px;
            font-size: 13px;
            color: #fff;
            font-family: $f-family-0;
            font-weight: 600;
        }
    }
}