.freelancer-list {
    padding: 30px 0px;

    &__main {
        padding-top:15px;
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
    }
}