@use "../../asset/style/" as *;

.account-layout {
  background-image: url("https://berrydashboard.io/static/media/auth-pattern.df3f321bb27856cb0776349ee36b11f1.svg");
  background-color: $primary-color-1;
  // background-color: #e3f2fd;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
