@use "../../asset/style/" as *;

.custom-textarea {
  &__label {
    padding-bottom: 5px;
    font-family: $f-family-0;
    font-size: $fs-14;
    font-weight: $fw-bold-0;
    color: #000;
  }
  &__error, &__label {
    width: 100%;
    text-align: left;
  }

  .ql-container.ql-snow {
    border: none;
  }

  .ql-editor {
    height: 150px !important;
    font-family: "Public Sans", sans-serif;
    border: 1.6px solid #666;
    border-top: none;
    border-radius: 2px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .ql-toolbar.ql-snow {
    font-family: "Public Sans", sans-serif;
    border: 1.6px solid #666;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .ql-editor.ql-blank::before {
    font-style: normal;
  }
}
