@use '../../asset/style/' as *;

.form__container {
  margin: 0px auto;
  padding: 30px;
  // width: 60%;
  background-color: $color-white-0;
  border: 0.5px solid #dedede;
}

.hr-post {
  &__action {
    button {
      padding: 10px 18px;
      color: #fff;
      background-color: #14a800;
      border-radius: 15px;
      cursor: pointer;
    }
    
  }

  &__container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    height: max-content;

    
  }

  &__form {
    margin: auto;
    background-color: $color-white-0;
    width: 80%;

    .row-3-col {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 35px;

      .hr-post__select-location {
        flex-basis: 32%;
      }

      div.custom-input {
        margin-top: 0;
        flex-basis: 28%;

        input {
          height: 45px !important;
        }
      }

      > .custom-input {
        margin: 0;
      }
    }

    .hr-post-title {
      margin-bottom: 35px;
    }

    .row-2-col {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 35px;

      > .hr-post__select {
        flex-basis: 49%;
      }

      > div.custom-input {
        flex-basis: 49%;
        margin: 0 !important;

      }
      > div.select-form {
        flex-basis: 49%;
        margin: 0 !important;

      }
    }

    .hr-post__select {
      flex-basis: 49%;

      > .custom-input {
        margin: 0 0 35px 0;
      }
    }

    .hr-post__textarea {
      margin-bottom: 35px;

      textarea {
        font-family: 'Public Sans', sans-serif;
        border: 1.6px solid #666;
        border-radius: 2px;
        height: 150px;
      }
    }

    .hr-post__action {
      display: flex;
      justify-content: right;
    }
  }

  &__heading {
    display: flex;
  }

  &__heading {
    margin-top: 25px;
  }

  &__salary-lable{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__salary-range {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .custom-input {
      width: 49%;
      margin: 0;

      &__textfield {
        input {
          height: 45px;
        }
      }
    }
  }
}

.hr-post__sub-description {
  margin-top: 2px;
  font-size: 12px;
  font-style: italic;
  color: #999;
}

input#title {
  height: 20px;
}

.custom-select__textfield {
  margin-top: 7px;
}

label {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #29303b;
}

.salary-select-field {
  width: 100%;
}

// Reponsive
@media only screen and (min-width: 500px) and (max-width: 740px) {
  .hr-post {
    &__form {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 740px) and (max-width: 1260px) {
  .hr-post {
    &__form {
      width: 100%;
    }
  }
  #max-salary {
    margin-left: 35px;
  }
}

.title-requirement {
  font-size: 13px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
  margin-top: 16px;
}

.field-requirment {
  color: red;
  font-weight: 700;
  font-size: 16px;
}
