@use "../../../asset/style/" as *;

.modal-header {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    p {
        color: #fff;
    }

    svg {
        cursor: pointer;
    }
}