@use "../../../../asset/style/" as *;

.role {
    margin: 20px 0px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    max-width: 250px;

    &:hover {
        border: 3px solid #14a800;
    }

    &-title {
        display: flex;
        align-items: center;
        gap: 20px;
        
        img {
            border: 1px solid #ccc;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        h2 {
            font-size: 20px;
        }
    }

    p {
        text-align: left;
        width: fit-content;
        font-size: 18px;
    }
}

.selected {
    border: 3px solid $primary-color;
}