@use  "../../../../asset/style/" as *;

.candidate-form{
    width: 70%;
    margin: 30px auto;
    h3 {
        margin: 30px 0px 10px 0px ;
        font-size: 14px;
        line-height: 14px;
    }

    p {
        text-align: left;
    }
    &__logo {      
        width: auto;
        height: auto;
        margin-bottom: 15px;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &-avatar {
            border: 2px dashed #ccc;
            // background-color: rgb(244, 246, 248);
            border-radius: 50% !important;
            width: 210px !important;
            height: 210px !important;

        }
    }

    &__cv {
        h3 {
            margin: 0px 0px 7px 0px !important;
            text-align: left;
        }

        p {
            white-space: nowrap; 
            width: 100%; 
            overflow: hidden;
            text-overflow: ellipsis; 
            font-size: 13px;
            font-weight:500;
            line-height: 14px;
        }

        &-file {
            cursor: pointer;
            border: 1.5px solid #cccccc;
            border-radius: 4px;
            padding: 12px 15px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            &:hover {
                border: 1.5px solid $primary-color;
            }

            img{
                width: 21px;
            }
        }
    }

    &__file-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        
    }

    &__error {
        font-size: 13px;
        color: red;
        margin-top: 10px;
    }

    &__foot {
        width: 100%;
        text-align: center;
        button {
            padding: 15px 50px;
            border-radius: 20px;
            background-color: $primary-color;
            color: #fff;
            cursor: pointer;
        }
    }
}