@use '../../../asset/style/' as *;


.MuiButtonBase-root {

    border-radius: 10px !important;

    .MuiTypography-root {
        font-family: $f-family-0 !important;
        font-size: $fs-14 !important;
        font-weight: 500 !important;
    }
}


.list-menu_children { 
    
    .MuiButtonBase-root {
        margin: 5px 25px !important;
        padding-left: 45px !important;
        border-radius: 10px !important;
        transition: all 1 ease !important;
        color:#637381;
        font-weight: normal;
        
        &:hover {
            background-color: $admin-primary-color-2;
        }

        .MuiListItemIcon-root{           
            min-width: 40px;
        }

        .MuiTypography-root{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 95%;
            font-family: $f-family-0 !important;
            font-size: 13px !important;
            font-weight: 500 !important;
        }
    }

    
}