@use '../../../asset/style/' as *;

.custom-doughnut{
    padding: 10px;
    min-height: 40vh !important;
    max-height: 40vh !important;
    font-family: $f-family-0;
    box-shadow: $admin-box-shadow !important;
    border-radius: 6px;
    background-color: #fff !important;
}