@use "../../../asset/style/" as *;

.sign-in {
    .MuiDivider-root {
        font-size: 13px !important;
        color: $text-color-1;
        letter-spacing: .2px;
        .MuiDivider-wrapper {
            font-size: 13px !important;
            font-family: $f-family-0;

        }
    }

    
}