@use '../../asset/style/' as *;

.select-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .select-label {
    font-size: $fs-14;
    margin-bottom: 7px;
    font-family: $f-family-0;
    color: #29303b;
    font-weight: 700;
    text-align: left;
  }

  .select-error {
    text-align: left;
    color: $color-red;
    font-size: $fs-13;
  }

  .select-placeholder {
    text-align: left;
    color: #777777;
  }

  .MuiInputBase-root{
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: $f-family-0 !important;
    color: #111111;
    font-size: 13px;
    text-align: left;
    .MuiInputBase-input {
      padding: 15px !important;
      color: #111111;
      font-size: 13px;
      text-align: left;
    }
  }
}


.field-requirment {
  margin-top: 5px;
  color: red;
  font-weight: 700;
  font-size: 14px;
}
