@use "../../asset/style/" as *;

.account-form {
  margin: 50px;
  min-width: 480px;
  max-width: 60%;
  height: fit-content;
  background-color: #fff;
  padding: 60px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid #d5e0d5;
  
  &__header {
    font-size: 28px;
    font-family: $f-family-0;
    font-weight: 900;
    color: $primary-color;
    margin-top: 16px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    margin-bottom: 0px;
    width: 100%;
  }

  &__foot {
    margin-bottom: 25px;
    // margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    a {
      width: 100%;
      text-align: right;
      font-size: 13px;
      &:hover {
        color: rgb(59, 122, 204)
      }
    }

    button {
      // padding: 15px 80px;
      width: 100%;
      height: 40px;
      border-radius: 30px;
      border: 1px solid #000;
      background-color: #000;
      color: #fff;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: #001f00
      }
    }
    
  }
  .MuiDivider-root {
    font-size: 13px !important;
    color: $text-color-1;
    letter-spacing: .2px;
    .MuiDivider-wrapper {
        font-size: 13px !important;
    }
}

  &__sign-up {
    margin-top: 15px;
    margin-bottom: 25px;
    button {
      // padding: 15px 80px;
      width: 100%;
      height: 40px;
      border-radius: 30px;
      background-color: #fff;
      color: #000;
      font-size: 15px;
      border: 1px solid #000;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px

  }
  }
}
