@use "../../asset/style/" as *;

.page-header {
    // padding: 15px 0px 0px 0px;

    h3 {
        font-size: 26px;
        font-weight: 700;
        font-family: "Public Sans", sans-serif;
        color:#212b36;
        line-height: 36px;
        margin-bottom: 8px;
    }

    p {
        font-size: 14px;
        font-family: "Public Sans", sans-serif;
        color:#919eab;
        line-height: 20px;
        font-weight: 500;
    }
}