@use '../../asset/style/' as *;

.custom-tabs {
    width: 100%;

    .MuiTabs-root{
        background-color: $admin-primary-color-2;
        .MuiButtonBase-root{
            font-size: 14px !important;
            font-family: $f-family-0 !important;
            text-transform: capitalize;
            border-radius: 0px !important;
            padding: 0px 10px !important;
            line-height: 22px !important;
            // min-height: 30px !important;
        }
        .MuiButtonBase-root.Mui-selected {
            color: $admin-primary-color !important;
            border-bottom: 2px solid $admin-primary-color !important; 
        }
    }

    
}