@use "../../asset/style/" as *;

.demand-list {
    &__title {
        margin: 20px 0px 30px;
        p {
            font-weight: 600;
            font-family: $f-family-0;
            font-size: 18px;
        }
    }

    &__pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}