@use '../../asset/style/' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.admin-sidebar__logo {
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
    border-bottom: 1px solid rgb(194, 196, 209);
    box-shadow: $admin-box-shadow;
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: $f-family-0;
    z-index: 1000;
    background-color: #fff;
    cursor: pointer;

    h2{
        margin-left: 2px;
        margin-top: 33px;
        font-size: $fs-14;
        font-weight: 500;
        font-family: $f-family-0;
        text-transform: uppercase;
    }
    img {
        height: 55px;
    }
}

// custom scrollbar
#sidebar-scrollbar::-webkit-scrollbar-track
{
    margin-top: 2px;
    background-color: transparent;
}

#sidebar-scrollbar::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
}

#sidebar-scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: $admin-primary-color-2;  
}

.admin-sidebar-content {
    padding: 10px;
    margin-right: 7px;
    position: sticky;
    top: 76px;
    left: 0;
    height: 90vh;
    width: 100%;
    overflow-y: auto; 

    p {
        font-size: $fs-15;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        margin: 5px 0px;
    }

    h5 {
        font-size: $fs-14;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
        margin: 6px 0px; 
        color: $text-color-1
    }

    &__admin-user {
        width: 100%;
        padding: 15px 10px 25px 10px;
        text-align: center;

        &-avatar {
            position: relative;

            img {
                border-radius: 50%;
                border: 10px solid $admin-primary-color-2
            }

            .chip {
                position: absolute;
                top: 75px;
                left: 0; 
                right: 0; 
                margin: 0 auto;
                width: fit-content;
                padding: 4px;
                border-radius: 5px;
                font-weight: 600;
                color: #fff;
                background-color: $admin-primary-color;
                font-size: 11px;
                font-family: 'Montserrat', sans-serif;
            }
        }

        &-info {
            button {
                padding: 5px 10px;
                border-radius: 5px;
                font-weight: 600;
                color: $admin-primary-color;
                // border: 2px solid $admin-primary-color;
                background-color: $admin-primary-color-2;
                font-size: 14px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
            }
        }
    }

    &__management{
        &-link {
            margin-top: 30px;
            border-right: none !important;
            a:hover {
                color: #fff;
            }
        }
    }

}

.active {
    .MuiButtonBase-root  {
        margin: 10px 25px !important;
        padding-left: 45px !important;
        border-radius: 10px !important;
        transition: all 1 ease !important;
        
        color: $admin-primary-color !important;
        background-color: $admin-primary-color-1;
        // box-shadow: $admin-box-shadow;
        .MuiListItemIcon-root{           
            color: $admin-primary-color;
        }

        
    }
    
}



