@use '../../asset/style/' as *;

.admin-layout{
    display: flex;
    width: 100%;
    max-width: 100%;
    
    &__sidebar {
        position: relative;
        border-right: 1px solid rgb(194, 196, 209);
    }

    &__main {
        width: 100%;
        position: relative;      
        height: 100%;
        min-height: 100vh;

        &-content {
            min-height: 82vh;
            background-color:#f5f7fb;
        }
    }
}

@media (max-width: 1200px) {
    .admin-layout {
        &__sidebar {
            display: none;
        }
    }
}
