@use "../../asset/style/" as *;

.profile {
    width: 70%;
    margin: 40px auto;

    &__header {
        p {
            margin-bottom: 15px;
        }
    }

    &__main {
        &--header {
            margin-bottom: 25px;
            &-avatar {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    padding: 2px;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 2px dashed $primary-color; 
                }
                
                h1 {
                    margin-bottom: 0px;
                }
                
            }

            &-action {
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 15px;
            }
        }

        &--info {
            padding: 25px 0px;
            display: flex;
            flex-direction: column;
            gap: 25px;

            &-text {
                display: flex;
                align-items: center; 
                gap: 15px;
            }
        }
        
    }

    &__testimonial {
        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 10px !important;
                border-radius: 50% !important;
                color: #000;
                background-color: $primary-color-1;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
        }

        &--main {
            padding: 25px 0px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            img {
                width: 150px;
            }

            a {
                font-weight:500;
                font-size: 14px;
                color: #1f57c3;

                &:hover {
                    text-decoration: underline;
                }
            }
        }


    }

    &__certification {
        &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 10px !important;
                border-radius: 50% !important;
                color: #000;
                background-color: $primary-color-1;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
            }
        }

        &--main {
            padding: 25px 0px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            img {
                width: 150px;
            }

            p {
                margin-bottom: 0px;
            }

            a {
                font-weight:500;
                font-size: 14px;
                color: #1f57c3;

                &:hover {
                    text-decoration: underline;
                }
            }

            
        }


    }
    
}
