@use '../../../asset/style/' as *;

.custom-bar{
    padding: 10px;
    min-height: 40vh !important;
    font-family: $f-family-0;
    box-shadow: $admin-box-shadow;
    border-radius: 6px;
    background-color: #fff;
}