@use "../../asset/style/" as *;

.select__filter--select-list {
    label.Mui-focused {
        color: $primary-color;
    };
    .MuiOutlinedInput-root.Mui-focused fieldset {
        border: 1px solid $primary-color;
    };
    .MuiSelect-select {
        font-size: 14px !important;
        font-family: $f-family-0;
    }

    .MuiFormControl-root {
        .MuiInputLabel-root {
            font-size: 14px !important;
            font-family: $f-family-0 !important;
        }
        
        
    }
}