@use "../../../asset/style/" as *;

.view-detail-modal {
  position: relative;
  overflow: auto;
  height: fit-content;

  &__progress{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content:center;
    align-items:center;
  }
  

  &__close {
    i {
      color: $color-red;
      font-size: 24px;
    }
  }


  &__header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $color-gray-3;
    padding: 16px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;

    &--title {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      align-items: center;
      font-family: $f-family-0;
    }

    h1 {
      color: $admin-primary-color;
      font-family: $f-family-0;
      font-size: 22px;
      letter-spacing: 0.5px;
      font-weight: 700;
      margin-right: 12px;
    }

    &--tag {
      font-size: 14px;
      padding: 8px 12px;
      background-color: #ddd;
      border-radius: 10px;

      &.share {
        color: $admin-primary-color;
        background-color: rgb(255 180 0 / 10%);
      }

      &.active {
        color: $primary-color;
        background-color: rgb(117 213 202 / 10%);
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px 0px;
    padding-bottom: 0px;
    img {
        width: 120px;
        height: 130px;
    }

    p {
        margin: 15px 0px;
        font-size: 14px;
        font-family: $f-family-0;
    }
  }

  
  &__footer {
    padding-bottom: 15px;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;

    button {
      cursor: pointer;
      // margin-left: 15px;
      padding: 10px 12px;
      border-radius: 8px;
      color: #fff;
      font-family: $f-family-0;
      font-size: 14px;
      display: flex;
      align-items: center;
      align-content: center;
    }

    &--delete {
      background-color: rgb(235, 78, 78);
      box-shadow:rgba(206, 4, 31, 0.24) 0px 8px 16px 0px;
    }

    &--active {
      background-color: rgb(0, 171, 85);
      box-shadow:rgb(0 171 85 / 24%) 0px 8px 16px 0px;
    }

    &--cancel{
      background-color: rgb(227, 233, 230);
      box-shadow:rgba(219, 223, 221, 0.24) 0px 8px 16px 0px;
    }

    .disable {
      background-color: #ccc;
      box-shadow:rgba(230, 223, 224, 0.24) 0px 8px 16px 0px;
    }
    
  }
}
@media (max-width: 1000px) {
  .view-detail-modal {
    width: 100%;

    &__close {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
