@use "../../../../asset/style/" as *;

.join-us {
    &-container {
        border-radius: 8px;
        background-color: #003C5AFF;
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;
        height: 380px;
        display: flex;
        justify-content:center;
        align-items:center;
        gap: 25px;

        &__left {
            padding: 0 50px;
            span {
                color: $primary-color;
            }
    
            h1 {
                line-height: 52px;
                margin-bottom: 10px;
                color: #fff;
                font-weight: 600;
                font-size: 40px;
                text-transform: capitalize;
            }

            p {
                color: #fff;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 10px;
            }

            button {
                font-size: 16px;
                font-weight: normal;
                padding: 10px 20px;
                background-color: #EBFDFFFF;
                color: #007A85FF
            }
        }

        &__right {
            position: relative;

            &--man {
                position: absolute;
                width: 100px;
                top: 28px;
                left: 120px;
            }

            &--woman {
                position: absolute;
                width: 200px;
                top: 17px;
                left: 290px;
                
            }

            &--rectangle {
                width: 250px;
                height: 445px;
                position: absolute;
                top: -106px;
                left: 150px;
            }
        }
    }
}