@use "../../../asset/style/" as *;

.choose-role {
    &__header {
        margin: 30px 0;
    }

    &__footer {
        margin-bottom: 25px;
        button {
            padding: 10px 60px;
            border-radius: 30px;
            background-color: #14a800;
            color: #fff;
            font-size: 15px;
            border: 1px solid #14a800;
            cursor: pointer; 
            
            &:hover {
                background-color: #3c8224;

            }
        }
    }
}