@use "../../asset/style/" as *;

.preview-pdf {

    .react-pdf__Document {
        .react-pdf__Page {
            &__canvas {
                width: 100% !important;
                height: 100% !important;
            }
            &__textContent  {
                display: none !important;
            }
            &__annotations {
                display: none !important;
            }
        }
    }

    &__upload {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--cv{
            label {
                cursor: pointer;
                
            }

            &-btn{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }
    }

    &__main {
        border: .2px solid #ccc;
        border-radius: 5px;
        width: 80%;
        margin: 30px auto;
    }

    &__footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        &-pagec {
            font-size: 13px;
        }

        &-buttonc {
            display: flex; 
            align-items: center;
            gap: 15px;

            button {
                width: 100px !important;
            }
        }
    }
} 