@use "../../asset/style/" as *;

.custom-input {
    margin: 15px 0px;
    margin-top: 0px;

    &__title {
        p {
            font-size: $fs-14;
            margin-bottom: 7px;
            font-family: $f-family-0;
            color: #29303b;
            font-weight: 700;
            text-align: left;
        }
    }

    .MuiFormControl-root {
        margin-bottom: 5px;
        
        .MuiInputBase-root {
            // border-radius: px !important;
            font-size: 14px !important;
            font-weight: 400 !important;
            font-family: $f-family-0 !important;
            color: #111111;
            font-size: 13px;
            text-align: left;

            .MuiInputBase-input {
                padding: 15px !important;
                color: #111111;
                font-size: 13px;
                text-align: left;
                font-weight: 400 !important;
            }
        }

        .Mui-focused {
            font-size: 14px !important;
            font-weight: 500 !important;
            // font-family: $f-family-0 !important;
            color: $admin-primary-color;
            fieldset {
                border-color: $admin-primary-color;
            }
        }

    }

    &--err {
        text-align: left;
        font-family: $f-family-0;
        font-size: 12px;
        color: $color-red;
        margin-bottom: 0px;
    }
}