@use '../../asset/style/' as *;

.admin-header {
    padding: 0px 25px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(194, 196, 209);
    box-shadow: $admin-box-shadow;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    background-color: #fff;
    img {
        margin-right: -18px;
    }

    .admin-header__show-sidebar {
        display: none;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .admin-header {
        width: 100%;
        display:flex;
        justify-content: space-between;
        .admin-header__show-sidebar {
            display: block;
        }
    }
}