@use  '../../../asset/style/' as *;

.Sign-in-notification {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 20px 0px;

    &__progress{
        width: 100%;
        height: 30vh;
        display: flex;
        justify-content:center;
        align-items:center;
      }

    img {
        width: 270px;
        height: 190px;
    }

    p {
        margin: 15px 0px;
        font-size: 14px;
        font-family: $f-family-0;
    }

    &__actions {
        display: flex;
        gap: 12px;
        button {
            padding: 7px 12px;
            border-radius: 7px;
            font-size: 12px;
            font-family: $f-family-0;
            color: #fff;
            cursor: pointer;
        }

        &--delete {
            background-color: #3be73b;
        }

        &--cancel {
            background-color: #a5c9ca;
        }
    }

}