@use "../../../../asset/style/" as *;

.job-form {
    padding: 25px;

    form {
        margin-top: 20px;
    }
    
    &__right {
        border-radius: 18px !important;
        padding: 50px 15px;
        width: 100%;

        .MuiFormControl-root {
            margin-bottom: 25px;
            
            .MuiInputBase-root {
                border-radius: 10px !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                font-family: $f-family-0 !important;
                color: $admin-primary-color;
            }

            .Mui-focused {
                font-size: 14px !important;
                font-weight: 500 !important;
                font-family: $f-family-0 !important;
                color: $admin-primary-color;
                fieldset {
                    border-color: $admin-primary-color;
                }
            }

        }

        &-submit {
            width: 100%;
            &-btn {
                cursor: pointer;
                float: right;
                border-radius: 10px;
                padding: 10px 8px;
                background-color: $admin-primary-color;
                color: #fff;
                font-size: 15px;
                font-family: $f-family-0;
                box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
            }
        }
    }
    
}