@use "../../asset/style/" as *;

.trust-by {
    padding: 30px 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    img {
        width: 115px;
        height: 50px;
    }

    &__conatiner {
        display: flex;
        // justify-content:center;
        align-items:center;
        height: 100%;
    }
}