@use '../../asset/style/' as *;

.data-table {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;

  .data-table_container {
    background-color: $color-white-0;
    // height: 650px;
    width: 100%;
    .MuiButtonBase-root {
      font-size: 13px;
    }

    .MuiDataGrid-root {
      border: none !important;
      font-family: $f-family-0;
      font-size: 14px;

      .MuiDataGrid-cell:focus{
        outline: none !important;
      }

      .MuiDataGrid-columnSeparator{
        display:none;
      }

      .MuiDataGrid-virtualScroller .MuiDataGrid-row:hover{
        background-color: $admin-primary-color-2;
      }

      .MuiDataGrid-virtualScroller .MuiDataGrid-row.Mui-selected{
        background-color: $admin-primary-color-1;
      }

      .MuiCheckbox-root.Mui-checked {
        color: $admin-primary-color;
      }
    }

    .MuiDataGrid-columnHeaders {
      border-radius: 5px;
      color: #637381;
      background-color: #f4f6f8;
      font-size: 14px;
      box-shadow: none;
      font-family: $f-family-0;
    }

    .MuiDataGrid-columnHeader:focus {
      outline: none !important;
    }
  }

  h2 {
    padding: 20px 0px;
    font-family: $f-family;
    font-size: $fs-24;
    font-weight: 400;
  }
  
  
}


