@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@200;400;600&family=Poppins:wght@300;400;500;600&family=Prata&family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

// variable color
//admin color
$admin-primary-color:  #00ab55;
$admin-primary-color-1: #00ab5514;
$admin-primary-color-2: #919eab14;
$linear-admin-color: linear-gradient(98deg, #d0efe9, #26695c 94%);
$admin-box-shadow: rgb(58 53 65 / 42%) 0px 4px 8px -4px;

//primary color
// $primary-color: #00AEBDFF;
// $primary-color-1: #F0FAFFFF;
$primary-color: #14a800;
$primary-color-1: #f2f7f2;

$primary-color-2: #c5f7f2;
$color-black-0: #29303b; 
$color-white-0: #fff; 
$color-red: #FF5C58;
$color-red-0:#ec5252;
$color-red-1: #521822;
$color-red-2:#992337;
$color-purple: #6e1a52;
$color-gray: #F5F5F5;
$color-gray-1: rgba(20,23,28,.05);
$color-gray-2: #a1a7b3;
$color-gray-3: #cacbcc;
$color-gray-4: #686f7a;
$color-gray-5:#F7F8FA;
$color-gray-6:#dedfe0;
$color-gray-7: #dedede;
$color-gray-8: #7D7D7D;
$color-gray-9: #F3F9FC;
$color-black-light:#505763;
$color-white-cream:#f2f3f5;
$color-black-dark: rgba(20,23,28,.1);
$color-yellow: #ffbb33; 
$color-yellow-1: #F4C150;
$color-blue:#007791;
$color-trans:transparent;
$linear-color: linear-gradient(90deg, rgba(96,211,198,1) 0%, rgba(71,216,153,1) 100%);
$color-text: #333333;

//text color
$text-color: #333333;
$text-color-1: #868585;

// variable font-size
$fs-15: 15px; //default
$fs-16: 16px; 
$fs-14: 14px;
$fs-13: 13px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;


//variable line-height
$line-height-0: 1.43; //default

// $f-family: 'Open Sans', sans-serif;
// $f-family-0: 'Inter', sans-serif;
$f-family: 'Prata', serif;
$f-family-0: 'Poppins', sans-serif;
$f-family-1:'Dancing Script', cursive;
$f-family-2: 'Poppins', sans-serif;
// Roboto, sans-serif

// Sidebar width
$sb-width: 280px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold-2: 900;
$fw-bold: bold;

$large: 900px;
$extra-large: 1200px;