@use "../../../../asset/style/" as *;

.top-company {
    &-container {
        padding: 50px 0;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap: 20px;

        span {
            color: $primary-color;
        }

        h1 {
            font-weight: 600;
            font-size: 40px;
            text-transform: capitalize;
        }

        p {
            font-size: 14px;
            color: $text-color-1;
        }

        &__company {
            margin-top: 20px;
            width: 100%;
            &-card {
                .MuiGrid-root {
                    padding: 0 10px;
                    cursor: pointer;
                    div {
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        background-color: $primary-color-1;
                        padding: 10px;
                        width: 100%;
                    }

                    h4 {
                        font-weight: 500;
                    }

                    p {
                        font-size: 13px;
                        color: $text-color-1
                    }
                    
                    img {
                        width: 180px;
                        height: 120px;
                    }
                }
            }
        }
    }
}