@use "../../../asset/style/" as *;

.job-detail {
    padding: 30px;

    // img {
    //     padding: 2px;
    //     width: 80px;
    //     height: 80px;
    //     border-radius: 8px;
    //     border: 2px dashed $primary-color;
    // }

    button {
        padding: 10px 15px;
        background-color: #22215b;
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
    }

    &__header {

        

        &--right {
            height: 100%;
            display: flex;
            align-items: center;
        }

        
    }

    &__info {
        margin-top: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        svg {
            color: #13544e;
        }

        p {
            font-family: $f-family-0;
            font-size: 12px;
            color: $text-color-1;
        }

        &--address {
            display: flex;
            align-items: center;
            gap: 5px;


            
        }

        &--type {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &--date {
            display: flex;
            align-items: center;
            gap: 5px;

        }
    }

    &__main {
        

        &--header {
            padding: 20px 0px;
            h2 {
                margin-bottom: 25px;
            }
            h3 {
                margin-bottom: 5px;
            }

            p {
                text-align: justify;
                margin-bottom: 20px
            }
        }

        &--quill {
            padding: 20px 0px;
        }
        
    }
}

.job-container {
    width: 75%;
    margin: auto;
}

.btn-disabled {
    background-color: #ccc !important;
    cursor: not-allowed !important;
}