

.admin-page {
    padding: 25px;
    font-size: $fs-15;
    font-family: $f-family-0;

    &__page{
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;

            .MuiButtonBase-root {
                background-color: $admin-primary-color;
                color: #fff;

                &:hover {
                    border: 1px solid $admin-primary-color;
                    background-color: $admin-primary-color-1;
                    color: $admin-primary-color;
                }
            }
        }
        &-tabs {
            margin-top: 15px;
            &-search{
                padding: 15px;
                padding-bottom: 0px;
                width: 100%;

                .MuiFormControl-root {
                    .MuiInputBase-root{
                        font-size: 14px !important;
                        font-family: $f-family-0 !important;
                        // min-height: 30px !important;
            
                        .MuiInputBase-input {
                            padding: 10px !important;
                            font-size: 14px !important;
                            font-family: $f-family-0 !important;
                            
                        }
                        
                    }
    
                    .Mui-focused {
                        fieldset {
                            border-color: $admin-primary-color-1;
                        }
                    }
                }
        
                
            }
        }

        &-pagination {
            padding: 15px;
            display: flex;
            justify-content: center;
    
            .MuiPagination-root {
                font-family: $f-family-0;
                font-size: 14px;
    
                .MuiButtonBase-root {
                    font-family: $f-family-0;
                    font-size: 14px;
    
                }
    
                .Mui-selected {
                    background-color: $admin-primary-color-1;
                    color: $admin-primary-color;
                    font-weight: 500;
                }
            }
        }

        
    }

   
}