.box {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid #d5e0d5;

    button {
        padding: 10px 20px;
        border-radius: 20px;
        color: #fff;
        background-color: $primary-color;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
    }

    p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: .2px;
    }

    h1 {
        font-family: $f-family;
        margin-bottom: 15px;
        letter-spacing: .8px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 10px !important;
            border-radius: 50% !important;
            color: #000;
            background-color: $primary-color-1;
        }

        h3 {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
        }
    }
}