@use '../../asset/style/' as *;

.profile-table {
  // padding: 20px 10px;
  // margin-top: 20px;
  // margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  // width: 100%;
  &__logo {
    margin-right: 20px;
    // margin-bottom: 20px
    &-img {
      border: 2px dashed $primary-color;
      // background-color: $primary-color-1;
      color: $primary-color;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $f-family-0;
    width: 100%;

    &-title {
      display: flex;
      width: 85%;
      h4 {
        width: 100%;
        margin-right: 10px;
        line-height: 24.5px;
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
        font-family: $f-family-0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .profile-table__active {
        color: #00c853;
        font-size: 17px;
      }
      .profile-table__disable {
        color: #fda92d;
        font-size: 17px;
      }
      .profile-table__deleted {
        color: #b72136;
        font-size: 17px;
      }
      .profile-table__pending {
        color: #7635dc;
        font-size: 17px;
      }
    }

    a {
      font-weight: 500;
      color: #9e9e9e;
      font-size: 13px;
      line-height: 18.84px;
      font-family: $f-family-0;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
