@use "../../asset/style/" as *;

.client-banner{
    padding-top: 76px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("https://seetec.ie/wp-content/uploads/sites/3/2021/06/Find-a-centre-text-and-media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__container {
        padding: 50px 0;
        width: 80% !important;
        margin: 0 auto;
        height: 500px;
        font-family: $f-family-0;

        &-left {
            display: flex;
            justify-content: center;
            align-items:center;

            span {
                color: $primary-color
            }

            h1 {
                font-size: 48px;
                line-height: 68px;
                color: #fff
            }

            p {
                font-size: 13px;
                line-height: 20px;
                color: #fff
            }

            button {
                margin-top: 20px;
                padding: 10px 30px;
                color: #fff;
                background-color: $primary-color;
                cursor: pointer;
                &:hover {
                    box-shadow: $admin-box-shadow;
                }
            }

        }

        &-right{
            position: relative;
            max-width: 100%;
            img{
                position: absolute;
                top: 55px;
                left: 186px;
                width: 400px;
                height: 250px;
            }
        }
    }
}