@use "../../../../asset/style/" as *;

.search {
    &-box {
        padding: 50px 0;
        width: 80% !important;
        margin: 0 auto !important;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        gap: 25px;

        span {
            color: $primary-color;
        }

        h1 {
            font-weight: 600;
            font-size: 40px;
            text-transform: capitalize;
        }


        &__search{
            width: 70%;
            margin: 0 auto;

            .MuiFormControl-root {
                .MuiInputBase-root {
                    .MuiInputBase-input {
                        padding: 10px;
                    }
                }
            }

            button {
                padding: 11px 20px;
                color: #fff;
                background-color: $primary-color;
                cursor: pointer;

                &:hover {
                    box-shadow: $admin-box-shadow;
                }
            }
        }

        &__position {
            margin-top: 20px;
            width: 100%;
            &--card {
                .MuiGrid-root {
                    padding: 0 10px;
                    cursor: pointer;
                    div {
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;
                        background-color: $primary-color-1;
                        padding: 10px;
                        width: 100%;
                    }

                    h4 {
                        font-weight: 500;
                    }

                    p {
                        font-size: 13px;
                        color: $text-color-1
                    }
                    
                    img {
                        width: 120px;
                        height: 120px;
                    }
                }
            }
        }
    }
}