@use "../../../../asset/style/" as *;

.university-form {
    padding: 25px;

    form {
        margin-top: 20px;
    }

    &__left{
        border-radius: 18px !important;
        padding: 50px 15px;
        width: 100%;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    

        &-logo {
            border: 2px dashed $admin-primary-color;
            width: 230px;
            height: 230px;
            border-radius: 50%;
            margin-bottom: 15px;
            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .university-form__avatar {
                background-color: rgb(244, 246, 248);
                border-radius: 50%;
                width: 210px;
                height: 210px;
            }
        }

        &-file-input {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
            
        }
    
        h6 {
            
            color: #637381;
            font-size: 12px;
            line-height: 18px;
            font-weight: normal;
        }
    }

    &__right {
        border-radius: 18px !important;
        padding: 50px 15px;
        width: 100%;

        .MuiFormControl-root {
            margin-bottom: 25px;
            
            .MuiInputBase-root {
                // border-radius: 10px !important;
                font-size: 14px !important;
                font-weight: 500 !important;
                font-family: $f-family-0 !important;
                color: $admin-primary-color;
            }

            .Mui-focused {
                font-size: 14px !important;
                font-weight: 500 !important;
                font-family: $f-family-0 !important;
                color: $admin-primary-color;
                fieldset {
                    border-color: $admin-primary-color;
                }
            }

        }

        &-submit {
            width: 100%;
            &-btn {
                float: right;
                border-radius: 10px;
                padding: 10px 8px;
                background-color: $admin-primary-color;
                color: #fff;
                font-size: 15px;
                font-family: $f-family-0;
                box-shadow: rgb(0 171 85 / 24%) 0px 8px 16px 0px;
            }
        }
    }
    
}