@use "../../../asset/style/" as *;

.user-card {
    padding: 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #cdc52d;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h3 {
            font-size: 16px !important;
            font-weight: 600 !important;
            color: #22215b;
            font-family: $f-family-2;
        }
        h5 {
            color: #22215b;
            font-size: 14px;
            font-weight: normal;
            font-family: $f-family-2;
        }

        p {
            display: -webkit-box;
            max-width: 100%;
            height: 41px;
            margin: 0 auto;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            font-size: 13px !important;
            color: #9191ae;
            font-family: $f-family-2;
            text-align: center;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%; 

        button {
               
            border-radius: 25px !important;
            width: 100%; 
        }

        &--connect {
            padding-top: 10px !important;
            padding-bottom: 10px !important; 
            background-color: #fff !important;
            border: 2px solid $primary-color;
            // border: 2px solid #22215b;
            color: $primary-color !important;
            // color: #22215b !important;
        }

        &--cv {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            background-color: $primary-color !important;
            // background-color: #22215b !important;
        }
    }
}