@use '../../asset/style/' as *;

.client-header {
    // padding: 0px 25px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: transparent;
    // box-shadow: $admin-box-shadow;   

    &__container {
        height: 100%;
        width: 90%;
        margin: 0 auto;
        display:flex !important;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        // background-color: #fff;

        &-left{
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                margin-right: -18px;
            }
            &-show-sidebar {
                display: none;
                cursor: pointer;
            }
    
            &-logo {
                &-text{
                    font-family: $f-family-1;
                    font-size: 32px;
                    color: $primary-color;
    
                    
                }
                &-text::first-letter {
                    font-weight: 700;
                }
            }

            &-list {
                display: flex;
                align-items: center;
                gap: 20px;

                a {
                    font-weight: 500;
                    font-size: 14px;
                    cursor: pointer;
                    text-transform: capitalize;
                    color: #fff;
                    &:hover {
                        color: $primary-color
                    }
                }
            }
        }
        

        &-actions {
            button {
                border-radius: 15px;
                margin-left: 20px;
                font-size: 14px;
                font-family: $f-family-0;
                font-weight: 500;
                cursor: pointer;
            }
            &-signup {
                padding: 7px;
                background-color: transparent;
                color: #fff;
            }
            &-login{
                padding: 7px 24px;
                background-color: $primary-color;
                color: #fff;

                &:hover {
                    box-shadow: $admin-box-shadow;   
                }
            }
        }

       
    }
}

.sticky {
    z-index: 1000;
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    transition: all 0.5s ease;
    animation: smoothScroll 1s forwards;

    .client-header__container {
        &-left{
            &-list {
                a {
                    font-size: 14px;
                    cursor: pointer;
                    text-transform: capitalize;
                    color: $text-color;
                    font-weight: 500;
                    &:hover {
                        color: $primary-color
                    }
                }
            }
        }
        

        &-actions {
            &-signup {
                padding: 7px;
                background-color: #fff !important;
                color: $text-color !important;
            }
        }

       
    }
}

@keyframes smoothScroll {
    0% {
      transform: translateY(-142px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

@media (max-width: 1200px) {
    .client-header {
        width: 100%;
        display:flex;
        justify-content: space-between;
        .client-header__show-sidebar {
            display: block;
        }
    }
}